<h1>Welcome to Git-Search</h1>
<br>
<hr>
<form action="" class="formsearch">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="search here"[(ngModel)]="username"
        name="username" (keyup)="searchProfile()">
    </div>
</form>

<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            id="woke"
            src="{{ profile.avatar_url }}"
            class="img rounded-circle img-responsive"
            alt="profile Image"
          />

          <div class="panel-heading">
            {{ profile.name }}<small>({{ profile.login }})</small>
            <span *ngIf="profile.school">,Study at {{ profile.school }}</span>
            {{ profile.location }}
          </div>
          <ul class="list-group">
            <li class="list-group items" *ngIf="profile.bio">
              {{ profile.bio }}
            </li>
            <li class="list-group items" *ngIf="profile.hireable">
              Available for hire
            </li>
            <li class="list-group items" *ngIf="profile.blog">
              <a href="{{ profile.blog }}" target="_blank">{{
                profile.blog
              }}</a>
            </li>
            <li class="list-group items" *ngIf="profile.email">
              <a href="emailto:{{ profile.email }}">{{ profile.email }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2"></div>
        <div id="details" class="col-md-4 text-left">
          <div class="collect">
            <p>
              <span class="lebel lebel-default"
                >{{ profile.followers }} Followers</span
              ><br />
              <span class="lebel lebel-primary">
                {{ profile.following }} Following</span
              ><br />
              <span class="lebel lebel-success"
                >{{ profile.public_gists }} Public gists</span
              ><br />
              <span class="lebel lebel-info"
                >{{ profile.public_repos }} Public Repos</span
              >
            </p>

            <p>
              <a
                href="{{ profile.html_url }}"
                target="_blank"
                class="btn btn-success btn-md" style="color:orange"
                >view profile on github</a
              >
            </p>
          </div>

          <div class="panel-heading">
            <h3 class="panel-title">Repos</h3>
          </div>
          <div id="k" class="panel-body" *ngFor="let repo of repos">
            <p
              style="text-decoration:underline; font-size:20px; color:orange"
              class="clearfix"
            >
              {{ repo.name }}
            </p>
            <p>{{ repo.description }}</p>
            <p>
              <a
                href="{{ repo.html_url }}"
                target="_blank"
                class="btn btn-md btn-warning "
              >
                View this project on github</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
