<div *ngIf="profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}}<small>({{profile.login}})</small>
            <span *ngIf="profile.company">works at {{profile.company}}</span>
            {{profile.location}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" class="img-circle img-responsive"
                alt="profile image">               
            </div>
            <div class="col-sm-5">
                <ul class="list-group">
                    <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
