/* You can add global styles to this file, and also import other style files */

body {
    background-color:palegreen;
}

#k{
    margin-top: 3%;
    border: 1px solid rgb(110, 59, 14);
    padding: 2%;
    border-radius: 0.2rem;
}

#main {
    margin-top: 2%;
}

#woke {
    margin-bottom: 2%;
}

.collect {
    border: 1px solid rgb(197, 135, 20);
    padding: 5%;
    border-radius: 0.2rem;
}